/* 	================= 
		MAIN.CSS
	================= */


/* !!! CSS RESET !!! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 	==============================================
		BEGIN AUTHOR STYLING
	============================================== */


* {
	/*background-color: rgba(255, 0, 0, 0.2);*/
	/*outline: 1px solid rgb(0,0,255);*/
}

body {
	background-color: white;
	cursor: crosshair;
}

.container,
.pp-container {
	height: 100%;
	width: 100%;
}

.clear {
	color: rgba(255,255,255,0);
}

.mobile {
	display: none;
}

/* 	======================
	TYPOGRAPHY
======================*/

h1, h2, h3, p, a, li {
	color: black;
}

h1 {
	font-family: 'Halant', serif;
	font-size: 45px;
	margin-bottom: 20px;
	line-height: 55px;
}

h2 {
	font-family: 'Rubik', sans-serif;
	font-size: 28px;
	line-height: 36px;
	font-weight: 300;
}

h3 {
	margin-top: 10px;
	font-family: 'Rubik', sans-serif;
	font-size: 8px;
	font-weight: 500;
	text-align: center;
	color: blue
}

.link {
	text-decoration: underline;
}

a:hover {
	font-style: italic;
	color: blue;
	cursor: cell;
}

.italic {
	font-style: italic;
}

/* 	======================
		LEFT
	======================*/

.info-left {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 00px;
	width: 37%;
	padding-right: 3%;
	overflow-y:scroll;
	z-index: 1;
	border-right: 1px solid black;
}

.info-left:hover {
	cursor: ns-resize;
}

.arrow {
	width: 44px;
	height: auto;
	position: fixed;
	bottom: 0;
	left: 35%;
	z-index: -1000;
}

/* 	======================
		RIGHT
	======================*/

.projects-right {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 00px;
	width: 60%;
	overflow-y:scroll; 
	z-index: 1;
}

#thumb {
	margin-top: 0;
	width: 50%;
	margin-left: 25%;
}

/* 	======================
		CONTENT CONTAINER
	======================*/

.content-back {
	width: 100%;
	height: 100%;
	padding-top: 40px;
	background-color: rgba(0,0,0,0.2);
	display: none;
}

.content-container {
	position: relative;
	margin-bottom: 40px;
	width: 80%;
	margin-left: 10%;
	height: 1000px;
	background-color: white;
	border: 1px solid black;
	z-index: 100;
}

/* 	==========================
		PROJECT PAGE STYLING
	========================== */

	/* typography */

.pp-title {
	margin-top: 100px;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	text-align: center;
}

.proj-desc {
	margin-left: 42px;
	margin-right: 42px;
}

.pp-sub-heading {
	font-family: 'Halant', serif;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 16px;
}

.pp-sub-heading a:link,
.pp-sub-heading a:visited {
	color: blue
}

	/* layout */

.pp-project {
	margin-top: 100px;
}

	/* img */

.pp-project img {
	width: 80%;
	margin-left: 10%;
	margin-bottom: 15px;
}

.pp-project img.half-l {
	float: left;
	width: 40%;
	margin-left: 10%;
	margin-right: 0;
	margin-bottom: 15px;
}

.pp-project img.half {
	float: left;
	margin-left: 0;
	margin-right: 10%;
	width: 40%;
	margin-bottom: 15px;
}


/* 	===========================
		MEDIA QUERIES
	=========================== */

@media screen and (min-width: 1300px) {
	
	h1 {
		font-family: 'Halant', serif;
		font-size: 50px;
		margin-bottom: 20px;
		line-height: 70px;
	}

	h2 {
		font-family: 'Rubik', sans-serif;
		font-size: 34px;
		line-height: 43px;
		font-weight: 300;
	}

	h3 {
		margin-top: 10px;
		font-family: 'Rubik', sans-serif;
		font-size: 8px;
		font-weight: 500;
		text-align: center;
		color: blue
	}

		/* img */

	.pp-project img {
		width: 60%;
		margin-left: 20%;
		margin-bottom: 15px;
	}

	.pp-project img.half-l {
		float: left;
		width: 30%;
		margin-left: 20%;
		margin-right: 0;
		margin-bottom: 15px;
	}

	.pp-project img.half {
		float: left;
		margin-left: 0;
		margin-right: 20%;
		width: 30%;
		margin-bottom: 15px;
	}

	#thumb {
		margin-top: 0;
		width: 36%;
		margin-left: 32%;
	}

	.arrow {
		left: 36%;
	}
	
}

@media screen and (max-width: 1130px) {
	
	h1 {
		font-family: 'Halant', serif;
		font-size: 40px;
		margin-bottom: 20px;
		line-height: 50px;
	}

	h2 {
		font-family: 'Rubik', sans-serif;
		font-size: 24px;
		line-height: 34px;
		font-weight: 300;
	}

	h3 {
		margin-top: 10px;
		font-family: 'Rubik', sans-serif;
		font-size: 8px;
		font-weight: 500;
		text-align: center;
		color: blue
	}

		/* img */

		#thumb {
		margin-top: 0;
		width: 60%;
		margin-left: 20%;
	}
	
}

@media screen and (max-width: 1010px) {
	
	h1 {
		font-family: 'Halant', serif;
		font-size: 35px;
		margin-bottom: 20px;
		line-height: 45px;
	}

	h2 {
		font-family: 'Rubik', sans-serif;
		font-size: 21px;
		line-height: 31px;
		font-weight: 300;
	}

	h3 {
		margin-top: 10px;
		font-family: 'Rubik', sans-serif;
		font-size: 8px;
		font-weight: 500;
		text-align: center;
		color: blue
	}

		/* img */

		#thumb {
		margin-top: 0;
		width: 60%;
		margin-left: 20%;
	}

	.arrow {
		left: 34%;
	}
	
}

@media screen and (max-width: 880px) {
	
	h1 {
		font-family: 'Halant', serif;
		font-size: 30px;
		margin-bottom: 20px;
		line-height: 40px;
	}

	h2 {
		font-family: 'Rubik', sans-serif;
		font-size: 19px;
		line-height: 29px;
		font-weight: 300;
	}

	h3 {
		margin-top: 10px;
		font-family: 'Rubik', sans-serif;
		font-size: 8px;
		font-weight: 500;
		text-align: center;
		color: blue
	}

		/* img */

		#thumb {
		margin-top: 0;
		width: 70%;
		margin-left: 15%;
	}

	.arrow {
		left: 33%;
	}
	
}

@media screen and (max-width: 750px) {
	
	h1 {
		font-family: 'Halant', serif;
		font-size: 25px;
		margin-bottom: 20px;
		line-height: 35px;
	}

	h2 {
		font-family: 'Rubik', sans-serif;
		font-size: 16px;
		line-height: 25px;
		font-weight: 300;
	}

	h3 {
		margin-top: 10px;
		font-family: 'Rubik', sans-serif;
		font-size: 8px;
		font-weight: 500;
		text-align: center;
		color: blue
	}

	.info-left {
		position: fixed;
		top: 0px;
		left: 0px;
		bottom: 00px;
		width: 37%;
		padding-right: 3%;
		overflow-y:scroll;
		z-index: 1;
	}

	.info-left:hover {
		cursor: ns-resize;
	}

	/* 	======================
			RIGHT
		======================*/

	.projects-right {
		position: fixed;
		top: 0px;
		right: 0px;
		bottom: 00px;
		width: 60%;
		overflow-y:scroll; 
		z-index: 1;
	}

		/* img */

		#thumb {
		margin-top: 0;
		width: 70%;
		margin-left: 15%;
	}
	
	.arrow {
		display: none;
	}
}